yfinance==0.1.55
pandas==1.1.5
numpy==1.22.2 
statsmodels==0.12.1 
pyotp==2.4.1 
robin-stocks==1.5.3
matplotlib==3.3.3
alpaca-trade-api==0.51.0 
python-telegram-bot==12.2.0
tornado>=6.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
websockets>=10.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability